*, *:before, *:after {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #111820;
  font-family: 'Roboto', sans-serif;
  min-width: 20rem;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}
